{% extends "base.html" %}

{% block title %} | Registre usuaris partida{% endblock %}

{% block content %}

    <div class="topdiv-centered">

        <div class="header_background"></div>

        <!-- <img src="/static/img/drbrain2/logo_dr_brain.png" class="header_logo" > -->

        <div id="admin_text"/>ADMIN</div>

        <div class="boto1">
            {% if pagina == 'registre' %}
                <button id="botons_admin" type="button" class="bx-push bx bx-black" >
                    Registro<br/>usuarios
                </button>
            {% else %}
                <button id="botons_admin" type="button" onclick=" location.href='/admin/registre'" class="bx-push bx bx-blackwhite" >
                    Registro<br/>usuarios
                </button>
            {% endif %}
        </div>

        <div class="boto2">
            {% if pagina == 'partida' %}
                <button id="botons_admin" type="button" class="bx-push bx bx-black" >
                    Partida<br/>activa
                </button>
            {% else %}
                <button id="botons_admin" type="button" onclick=" location.href='/admin/partida'" class="bx-push bx bx-blackwhite" >
                    Partida<br/>activa
                </button>
            {% endif %}
        </div>

        <div class="boto3">
            {% if pagina == 'stats' %}
                <button id="botons_admin" type="button" class="bx-push bx bx-black" >
                    Stats
                </button>
            {% else %}
                <button id="botons_admin" type="button" onclick=" location.href='/admin/stats'" class="bx-push bx bx-blackwhite" >
                    Stats
                </button>
            {% endif %}
        </div>

        <div class="boto4">
            {% if pagina == 'users' %}
                <button id="botons_admin" type="button" class="bx-push bx bx-black" >
                    Usuarios
                </button>
            {% else %}
                <button id="botons_admin" type="button" onclick=" location.href='/admin/users'" class="bx-push bx bx-blackwhite" >
                    Usuarios
                </button>
            {% endif %}
        </div>

        <div class="boto5">
            {% if pagina == 'partida_list' %}
                <button id="botons_admin" type="button" class="bx-push bx bx-black" >
                    Partidas
                </button>
            {% else %}
                <button id="botons_admin" type="button" onclick=" location.href='/admin/partida_list'" class="bx-push bx bx-blackwhite" >
                    Partidas
                </button>
            {% endif %}
        </div>

        {% block content_admin %}{% endblock %}

    </div>

{% endblock %}
