{% extends "admin.html" %}


{% block stylesheet %}
    <link href="/static/css/admin.css" rel="stylesheet" media="screen">
    <link href="/static/css/admin_partida.css" rel="stylesheet" media="screen">
{% endblock %}


{% block content_admin %}

    <div id="usuaris_titol" hidden>No hay ninguna partida jugandose...</div>

    <div id="table_partida"></div>

{% endblock %}

{% block javascript %}

        <script>
            function tancarPartida(num_partida) {
                //console.log("Tancant partida " + num_partida);
                $.ajax({
                    url: '/es/ws/tancar_partida/'+num_partida+'/'
                });
            }


            function detailPartida(num_partida) {
                window.location.href = '/es/admin/partida_detail/'+num_partida+'/'
            }

            function update_estat() {
                $.ajax({
                    url: '/es/ws/estat_partida/',
                    success: function(data) {

                        $("#table_partida").empty();



                        if(data.partides.length>0) {
                            $('#usuaris_titol').hide();

                            // Aqui en teoria tenim un array de partides
                            for (var i = 0; i < data.partides.length; i++) {
                                this.diners_heterogenis =  data.partides[i].diners_heterogenis;
                                this.imatges_refors = data.partides[i].imatges_refors;

                                var table = '<table style="width=90%;">';

                                table+="<tr style='cellpadding:10;'>";
                                table+="<td colspan=4 style=font-size:22px;font-weight:bold;cell>Partida #"+data.partides[i].num_partida+"</td>";
                                table+="</tr>";

                                table+="<tr>";
                                table+='<td style="font-size:16px;"> Created <br />' + data.partides[i].date_created + '</td>';
                                table+='<td style="font-size:16px;"> Started <br />'+ data.partides[i].date_started + '</td>';
                                table+='<td style="font-size:16px;"> Story <br />' + data.partides[i].story + '</td>';
                                table+='<td style="font-size:16px;"> Time <br />' + (data.partides[i].time).toFixed(0) + 's' + '</td>';
                                table+="<tr>";

                                table+="</tr>";

                                table+="<tr>";
                                table+='<td></td>';
                                table+='<td><button onclick="tancarPartida('+data.partides[i].num_partida+')" class="bx-push bx bx-red" style="width:150px;height:40px;font-size:14px;margin-top: 10px;">' + "Cerrar partida" + '</button></td>'
                                table+='<td><button onclick="detailPartida('+data.partides[i].num_partida+')" class="bx-push bx bx-black" style="width:150px;height:40px;font-size:14px;margin-top: 10px;">' + "Detalles" + '</button></td>'
                                table+="<td></td>";
                                table+="</tr>";
                                table+="</table> <br />";

                                $("#table_partida").append(table );
                            }
                        }
                        else
                        {
                            $('#usuaris_titol').show();
                        }

                        setTimeout(function(){update_estat()}, 1000);
                    },
                    error: function(data) {
                        setTimeout(function(){update_estat()}, 1000);
                    }
                });
            }

            $(document).ready(function() {
                update_estat();
            });
        </script>

{% endblock %}