{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/enquesta.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.enquesta2.titol_pagina }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">

        <div class="user_info"><span class="glyphicon glyphicon-user" style="margin-left: 20px;"></span> {{ user.nickname }}</div>

        <!--<div class="header_title">{{ text.enquesta2.titol }}</div>-->
        <div class="header_background_red"></div>
        <img src="/static/img/logo_white.png" class="header_logo"/>


        <hr class="separador-top" />

        <form method="post" action="/{{ lang }}/user/enquesta2">

            <div class="pregunta5">
                {% if question1_danger %}  <div class="pregunta_titol_error" id="pregunta5">*{{ text.enquesta2.pr1 }} ({{ text.common.error_opcio }})</div>{%  endif %}
                {% if not question1_danger %}<div class="pregunta_titol">{{ text.enquesta2.pr1 }}</div>{%  endif %}
                <div class="btn-toolbar" data-toggle="buttons">
                    <input type="hidden" name="question1" value="{{ question1 }}">
                    <button name="question1" id="question1" value="r1" class="boto_mitja bx bx-option {{ question1_1_checked }}">{{ text.enquesta2.pr1_r1 }}</button>
                    <button name="question1" id="question1" value="r2" class="boto_mitja bx bx-option {{ question1_2_checked }}">{{ text.enquesta2.pr1_r2 }}</button>
                    <button name="question1" id="question1" value="r3" class="boto_mitja bx bx-option {{ question1_3_checked }}">{{ text.enquesta2.pr1_r3 }}</button>
                    <button name="question1" id="question1" value="r4" class="boto_mitja bx bx-option {{ question1_4_checked }}">{{ text.enquesta2.pr1_r4 }}</button>
                </div>
            </div>

            <div class="pregunta6">
                {% if question2_danger %}  <div class="pregunta_titol_error" id="pregunta6">*{{ text.enquesta2.pr2 }} ({{ text.common.error_opcio }})</div>{%  endif %}
                {% if not question2_danger %}<div class="pregunta_titol">{{ text.enquesta2.pr2 }}</div>{%  endif %}
                <div class="btn-toolbar" data-toggle="buttons">
                    <input type="hidden" id="question2" name="question2" value="{{ question2 }}">
                    <button name="question2" id="question2_r1" value="r1" onClick="touched(this.id)" class="boto_mitja bx bx-option {{ question2_1_checked }}">{{ text.enquesta2.pr2_r1 }}</button>
                    <button name="question2" id="question2_r2" value="r2" onClick="touched(this.id)" class="boto_mitja bx bx-option {{ question2_2_checked }}">{{ text.enquesta2.pr2_r2 }}</button>
                    <button name="question2" id="question2_r3" value="r3" onClick="touched(this.id)" class="boto_mitja bx bx-option {{ question2_3_checked }}">{{ text.enquesta2.pr2_r3 }}</button>
                </div>
            </div>

            <div class="pregunta7">
                {% if question3_danger %}  <div class="pregunta_titol_error" id="pregunta7">*{{ text.enquesta2.pr3 }} ({{ text.common.error_opcio }})</div>{%  endif %}
                {% if not question3_danger %}<div class="pregunta_titol">{{ text.enquesta2.pr3 }}</div>{%  endif %}
                <div class="btn-toolbar" data-toggle="buttons">
                    <input type="hidden" id="question3" name="question3" value="{{ question3 }}">
                    <button name="question3" id="question3_r1" value="r1" class="boto_mitja_ample bx bx-option {{ question3_1_checked }}">{{ text.enquesta2.pr3_r1 | safe}}</button>
                    <button name="question3" id="question3_r2" value="r2" class="boto_mitja_ample bx bx-option {{ question3_2_checked }}">{{ text.enquesta2.pr3_r2 | safe}}</button>
                    <button name="question3" id="question3_r3" value="r3" class="boto_mitja_ample bx bx-option {{ question3_3_checked }}">{{ text.enquesta2.pr3_r3 | safe}}</button>
                    <button name="question3" id="question3_r4" value="r4" class="boto_mitja_ample bx bx-option {{ question3_4_checked }}">{{ text.enquesta2.pr3_r4 | safe}}</button>
                </div>
            </div>

            <hr class="separador-bottom" />

            <div class="page_button_right">
                <button class="bx bx-push bx-red" type="submit">{{ text.common.seguent }}</button>
            </div>

            <div class="page_button_left">
                <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/user/logout'" name="logout" class="bx-push bx bx-white" >
                    {{ text.common.sortir_joc }}
                </button>
            </div>
        </form>

    </div> <!-- /container -->

{% endblock %}

{% block javascript %}
    <script>


        function touched(id) {
            if (id == 'question2_r1'){
                document.getElementById("question3").value = "";
            }

            if (id == 'question2_r2' || id == 'question2_r3'){
                document.getElementById("question3").value = "rx";
                document.getElementById("question3_r1").classList.remove('bx-option-selected');
                document.getElementById("question3_r2").classList.remove('bx-option-selected');
                document.getElementById("question3_r3").classList.remove('bx-option-selected');
                document.getElementById("question3_r4").classList.remove('bx-option-selected');
            }

        }
    </script>
{% endblock %}