{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/nickname.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.nickname.titol_pagina }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">


        <div class="header_title">{{ text.nickname.titol }}</div>
        <div class="header_background_red"></div>
        <img src="/static/img/logo_white.png" class="header_logo"/>
        <hr class="separador-top" />

        <div class="user_info">{{ text.nickname.user_info | safe }}</div>


        <form method="post" action="/{{ lang }}/user/nickname">

            <div class="form_nickname">
                <input type="text" name="nickname" class="form-control" placeholder="{{ text.nickname.placeholder }}" value="{{ nickname }}" style="height: 70px; font-size:24px;">
            </div>

            <div class="error_nickname">
                {% if nickname_error %}{{ text.common.error_nickname_1 }}{% endif %}
            </div>

            <div class="error_nickname">
                {% if nickname_error2 %}{{ text.common.error_nickname_2 }}{% endif %}
            </div>

            <hr class="separador-bottom" />

            <div class="page_button_right">
                <button class="bx bx-push bx-red" type="submit">{{ text.common.seguent }}</button>
            </div>

            <div class="page_button_left">
                <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/user/logout'" name="logout" class="bx-push bx bx-white" >
                    {{ text.common.sortir_joc }}
                </button>
            </div>
        </form>
    </div>

{% endblock %}