{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/inici.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.registre.titol_pagina }} | {{ user.nickname }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">

        <div class="user_info"><span class="glyphicon glyphicon-user" style="margin-left: 20px;"></span> {{ user.nickname }}</div>

        <!--<div class="header_title">{{ text.registre.titol }}</div>-->
        <div class="header_background_red"></div>
        <img src="/static/img/logo_white.png" class="header_logo"/>

        <hr class="separador-top" />

        <!-- Button -->

        <form method="post" action="/{{ lang }}/user/registre">
            <button id="boto_jugar" type="submit" name="jugar" class="bx-push bx bx-red" >
                {{ text.registre.boto | safe}}
            </button>
        </form>

        <!-- Waiting -->

        <div class="esperant_partida" hidden>
            <i id="presentacio_waiting"class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
        <div class="esperant_partida_text" hidden>{{ text.registre.espera_registro }}</div>


        <div class="error_partida">
            {% if error_partida %}{{ text.common.error_partida | safe }}{% endif %}
        </div>

        <hr class="separador-bottom" />

        <div class="page_button_left">
            <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/user/logout'" name="logout" class="bx-push bx bx-white" >
                {{ text.common.sortir_joc }}
            </button>
        </div>

    </div>

{% endblock %}
{% block javascript %}

<script>

    function getWaiting() {

        if ({{waiting}} == 1) {
            console.log('1')
            $('#boto_jugar').hide();

            $('.esperant_partida').show()
            $('.esperant_partida_text').show()
            demanarDades({{user.id}});

        }else{
                console.log('0')
            $('#boto_jugar').show();
            $('.esperant_partida').hide()
            $('.esperant_partida_text').hide()

        }
    }

    function refreshRegistre() {
        console.log('refreshregistre')
        console.log('/{{ lang }}/user/registre/')

        location.href = '/{{ lang }}/user/registre/'

    }

    function demanarDades(user) {
        console.log(user)
        $.ajax({
            url: '/es/ws/demanar_dades/'+user+'/',
            success: function(data) {
                console.log(data)
                if (data.jugant=="false") {
                    setTimeout(function(){demanarDades(user);}, 1000);
                } else {
                    // vamos al juego
                    if (data.jugant=="PLAYING") {
                        refreshRegistre()
                    }
                }
            },
            error: function(data) {
                setTimeout(function(){demanarDades(user);}, 1000);
            }
        });
    }



    $(document).ready(function() {
        console.log('test')
        getWaiting();
    });

</script>
{% endblock %}
