/*  PANTALLA JOC 1 */

.text_title1 {
    position: absolute;
    top: 160px;
    left: 60px;
    width: 610px;
    font-size: 38px;
    text-align: left;
    font-weight: bolder;
    color: #035992;

}

.text_info1 {
    position: absolute;
    top: 250px;
    left: 60px;
    width: 850px;
    font-size: 24px;
    text-align: left;
}

.user_info1 {
    position: absolute;
    top: 110px;
    right: 5px;
    width: 610px;
    text-align: right;
    color: #444444;
    font-size: 22px;
    z-index: 2;
}



/*  PANTALLA JOC 2 */

.text_title {
    position: absolute;
    top: 120px;
    left: 40px;
    width: 610px;
    font-size: 24px;
    text-align: left;

}

.text_title2 {
    position: absolute;
    top: 117px;
    left: 230px;
    width: 610px;
    font-size: 28px;
    text-align: left;
    font-weight: bolder;
    color: #035992;
}


.text_title3 {
    position: absolute;
    top: 117px;
    left: 310px;
    width: 610px;
    font-size: 28px;
    text-align: left;
    font-weight: bolder;
    color: #035992;
}

.text_info {
    position: absolute;
    top: 180px;
    left: 40px;
    width: 900px;
    font-size: 22px;
    text-align: left;
}


.text_info2 {
    position: absolute;
    top: 180px;
    left: 25px;
    width: 980px;
    font-size: 22px;
    text-align: left;
}


.inversor_bold {
    font-size: 22px;
    font-weight: bolder;
}




.seleccio_inversor {
    position: absolute;
    top: 180px;
    left: 500px;
    width: 470px; 
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #035992;
}

.seleccio_inversor_text {
    position: absolute;
    top: 180px;
    left: 40px;
    width: 470px; 
    text-align: left;
    font-size: 22px;
}



.seleccio_inversor2 {
    position: absolute;
    top: 220px;
    left: 500px;
    width: 470px; 
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #035992;
}

.seleccio_inversor2_text {
    position: absolute;
    top: 220px;
    left: 40px;
    width: 470px; 
    text-align: left;
    font-size: 22px;
}


.seleccio_empresari {
    position: absolute;
    top: 280px;
    left: 500px;
    width: 470px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #035992;
}

.seleccio_empresari_text {
    position: absolute;
    top: 280px;
    left: 40px;
    width: 470px;
    text-align: left;
    font-size: 22px;
}

.seleccio_empresari2 {
    position: absolute;
    top: 320px;
    left: 500px;
    width: 470px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #035992;
}

.seleccio_empresari2_text {
    position: absolute;
    top: 320px;
    left: 40px;
    width: 470px;
    text-align: left;
    font-size: 22px;
}



.resultat_inversor {
    position: absolute;
    top: 380px;
    left: 500px;
    width: 470px; 
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #035992;
}


.resultat_inversor_text {
    position: absolute;
    top: 380px;
    left: 40px;
    width: 470px; 
    text-align: left;
    font-size: 22px;
}



.resultat_empresari {
    position: absolute;
    top: 420px;
    left: 500px;
    width: 470px; 
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #035992;
}

.resultat_empresari_text {
    position: absolute;
    top: 420px;
    left: 40px;
    width: 470px; 
    text-align: left;
    font-size: 22px;
}


.missatge_fi {
    position: absolute;
    top: 500px;
    left: 40px;
    width: 900px;
    text-align: center;
    font-size: 24px;
}









.empresari_text1_valor {
    position: absolute;
    top: 270px;
    left: 580px;
    width: 400px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    color: #035992;
}

.empresari_text1 {
    position: absolute;
    top: 280px;
    left: 40px;
    width: 700px;
    text-align: left;
    font-size: 22px;
}

.empresari_text2_valor {
    position: absolute;
    top: 320px;
    left: 580px;
    width: 400px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    color: #035992;
}

.empresari_text2 {
    position: absolute;
    top: 330px;
    left: 40px;
    width: 700px;
    text-align: left;
    font-size: 22px;
}

.empresari_text3 {
    position: absolute;
    top: 405px;
    left: 40px;
    width: 900px;
    text-align: left;
    font-size: 22px;
}








.esperant_empresari {
    position: absolute;
    top: 355px;
    left: 300px;
    width: 400px;
    text-align: center;
}

.esperant_empresari_text {
    position: absolute;
    top: 450px;
    left: 300px;
    width: 400px;
    text-align: center;
}

.esperant_inversor {
    position: absolute;
    top: 355px;
    left: 300px;
    width: 400px;
    text-align: center;
}

.esperant_inversor_text {
    position: absolute;
    top: 450px;
    left: 300px;
    width: 400px;
    text-align: center;
}










.button-format {
    position: absolute;
    top: 440px;
    height: 130px;
    /*width: 85px;*/
    width: 130px;
    padding: 0 0 0 0;
    border-radius: 6px;
    font-size: 100px;
    border: 1px solid #742B91;
}



#button-0{
    left: 30px;
    background-image: url("/static/img/botons/boto_med0.png");
}
#button-2{
    left: 190px;
    background-image: url("/static/img/botons/boto_med2.png");
}
#button-4{
    left: 350px;
    background-image: url("/static/img/botons/boto_med4.png");
}
#button-6{
    left: 510px;
    background-image: url("/static/img/botons/boto_med6.png");
}
#button-8{
    left: 670px;
    background-image: url("/static/img/botons/boto_med8.png");
}
#button-10{
    left: 830px;
    background-image: url("/static/img/botons/boto_med10.png");
}

.button-long-format {
    position: absolute;
    top: 445px;
    height: 110px;
    /*width: 85px;*/
    width: 160px;
    padding: 0 0 0 0;
    border-radius: 6px;
    font-size: 100px;
    border: 1px solid #742B91;
}

#button-00{
    left: 30px;
    background-image: url("/static/img/botons/boto_perc00.png");
}
#button-25{
    left: 220px;
    background-image: url("/static/img/botons/boto_perc25.png");
}
#button-50{
    left: 410px;
    background-image: url("/static/img/botons/boto_perc50.png");
}
#button-75{
    left: 600px;
    background-image: url("/static/img/botons/boto_perc75.png");
}
#button-100{
    left: 790px;
    background-image: url("/static/img/botons/boto_perc100.png");
}

.text-button-empresari{
    position: absolute;
    top: 554px;
    width: 160px;
    font-size: 22px;
    text-align: center;
}

.text-00 {
    left: 30px;
}

.text-25{
    left: 220px;
}
.text-50{
    left: 410px;
}
.text-75{
    left: 600px;
}
.text-100{
    left: 790px;
}

/*#button-00{*/
    /*left: 20px;*/
    /*background-image: url("/static/img/botons/boto_perc00.png");*/
/*}*/
/*#button-20{*/
    /*left: 180px;*/
    /*background-image: url("/static/img/botons/boto_perc20.png");*/
/*}*/
/*#button-40{*/
    /*left: 340px;*/
    /*background-image: url("/static/img/botons/boto_perc40.png");*/
/*}*/
/*#button-80{*/
    /*left: 500px;*/
    /*background-image: url("/static/img/botons/boto_perc60.png");*/
/*}*/
/*#button-60{*/
    /*left: 660px;*/
    /*background-image: url("/static/img/botons/boto_perc80.png");*/
/*}*/
/*#button-100{*/
    /*left: 820px;*/
    /*background-image: url("/static/img/botons/boto_perc100.png");*/
/*}*/








/*#button-0{*/
    /*left: -5px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini0.png");*/
/*}*/
/*#button-1{*/
    /*left: 85px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini1.png");*/
/*}*/
/*#button-2{*/
    /*left: 175px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini2.png");*/
/*}*/
/*#button-3{*/
    /*left: 265px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini3.png");*/
/*}*/
/*#button-4{*/
    /*left: 355px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini4.png");*/
/*}*/
/*#button-5{*/
    /*left: 445px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini5.png");*/
/*}*/
/*#button-6{*/
    /*left: 535px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini6.png");*/
/*}*/
/*#button-7{*/
    /*left: 625px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini7.png");*/
/*}*/
/*#button-8{*/
    /*left: 715px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini8.png");*/
/*}*/
/*#button-9{*/
    /*left: 805px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini9.png");*/
/*}*/
/*#button-10{*/
    /*left: 895px;*/
    /*background-image: url("/static/img/drbrain2/boto_mini10.png");*/
/*}*/