.form_nickname {
    position:absolute;
    top:220px;
    left:300px;
    width:424px;
    font-family: montserratregular;
}

.user_info {
    position: absolute;
    top: 280px;
    left: 240px;
    width: 530px;
    text-align: justify;
    font-size: 16px;
    margin-top: 40px;
    font-family: montserratlight;
}

.error_nickname {
    position: absolute;
    top: 180px;
    left: 250px;
    width: 524px;
    height: 35px;
    color: #ff0000;
    text-align: center;
}